<div id="<%= dom_id article %>">
  <div class="image-box">
    <%= image_tag(article.image, :class => "top-image") %>
    <h5   class="caption"><%= fa_icon "camera-retro" %> the latest fantasy book</h5>
  </div>

  <div class="article-heading">
    <%= link_to "#{article.title}", article %>
  </div>

  <div class="author-box">
    <%= article.author.name%>
  </div>

  <div style='width: 500px;' class="article-body">
    <%= article.body %>
  </div>
</div>
