<div id="<%= dom_id article %>">
  <div class="image-box">
    <%= image_tag(article.image, :class => "top-image") %>
    <h5   class="caption">  the latest fantasy book</h5>
  </div>

  <p>
    <%= article.title %>
  </p>

  <p style='width: 500px;'>
    <%= article.body %>
  </p>

  <div class="author-box">
    <div>
      <%= image_tag(article.author.avatar, :class => "author") %>
    </div>
    <h3>
      <%= article.author.name%>
    </h3>
  </div>
</div>
