<div id="<%= dom_id article %>">
  <p>
    <strong>Image:</strong>
    <%= image_tag(article.image, :class => "top-image") %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <p style='width: 500px;'>
    <strong>Body:</strong>
    <%= article.body %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= article.author.name %>
    <%= image_tag(article.author.avatar, :class => "author") %>
  </p>
</div>
