
<p style="color: green"><%= notice %></p>

<div style="justify-items: center;" class="page">

  <section class="top-banner">
    <h1>The Tech Chronicle</h1>
        <% @networks.each do |key, value| %>
          <%= link_to "#{key}", value %>
        <% end %>
  </section>

  <section class="left">
    <div id="articles">
      <% @articles.each do |article| %>
        <%= render article %>
      <% end %>
    </div>
  </section>
  <section class="main">
    <div id="articles">
      <% @articles.each do |article| %>
        <%= render article  %>
      <% end %>
    </div>
  </section>

  <section class="right">
    <div id="articles">
      <% @articles.each do |article| %> 
        <%= render article %>
      <% end %>
    </div>
  </section>
</div>
