<div id="<%= dom_id author %>">
  <p>
    <strong>Name:</strong>
    <%= author.name %>
  </p>

  <p>
    <%= image_tag(author.avatar, :style=>"width:150px; height: 150px") if author.avatar  %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= author.contact %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= author.description %>
  </p>

  <p style="color: green"><%= notice %></p>

  <h2><%= author.name %>'s Articles</h2>

  <div id="articles">
    <% Article.by_author_id(author.id).each do |article| %>
      <%= render article %>
      <p>
        <%= link_to "Show this article", article %>
      </p>
    <% end %>
  </div>

  <%= link_to "New article", new_article_path %>

</div>
