<div id="<%= dom_id author %>">
  <p>
    <strong>Name:</strong>
    <%= author.name %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= author.contact %>
  </p>

  <p>
    <%= image_tag(author.avatar, :class=>"rounded-full w-15px h-15px") if author.avatar  %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= author.description %>
  </p>

</div>
