<h1>Edit <%= @author.name %></h1>

<%= form_with model: @author do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.label :contact %>
  <%= form.text_field :contact %>

  <%= form.label :description %>
  <%= form.text_field :description %>

  <%= form.file_field :avatar, accept: "image/*" %>
  <%= form.submit %>
<% end %>
<br>

<div>
  <%= link_to "Back to authors", authors_path %>
</div>
