<p style="color: green"><%= notice %></p>

<%= render @author %>

<div>
  <%= link_to "Edit", edit_author_path(@author) %> |
  <%= link_to "Back to authors", authors_path %>

  <p>
    <%= button_to("Delete", @author, method: :delete, :style => 'color: red') %>
  </p>
</div>
