
<div style="justify-items: center;" class="page">

  <div class="page-articles">
    <div class="main-section">
      <div class="vertical">
        <%= render partial: "common/article-partial-list", locals: { articles: @articles } %>
      </div>
    </div>

    <div class="categories-section">
      <div class="category-">
        <% @categories.each do |category| %>
          <div class="<%= "category-heading category-heading-#{category.name}" %>">
            <%= link_to "#{category.name}", "/category/#{category.name}" %>
          </div>
          <div class="vertical">
            <% category.articles.each do |article| %>
              <%= render partial: "common/thumb", locals: { article: article, category: false } %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="search-section">
      <%= render partial: "common/article-partial-list", locals: { articles: @articleSearch } if @articleSearch %>
    </div>
  </div>
</div>

<div id="root"></div>
<script>
  import MyForm from '../components/MyForm'; 

  document.addEventListener('DOMContentLoaded', () => {
    const root = document.getElementById('root');
    ReactDOM.render(<MyForm />, root);
  });
</script>
