
<div style="justify-items: center;" class="page">
  <section class="top-banner">

    <h1>The Tech Chronicle</h1>
  </section>

  <div class="page-articles">
    <div class="main-section">
      <div class="vertical">
        <% @articles.each do |article| %>
          <%= render partial: "common/full", locals: { article: article } %>
        <% end %>
      </div>
    </div>

    <div class="categories-section">
      <div class="category-">
        <% @categories.each do |category| %>
          <div class="<%= "category-heading category-heading-#{category.name}" %>">
            <%= link_to "#{category.name}", "/category/#{category.name}" %>
          </div>
          <div class="vertical">
            <% category.articles.each do |article| %>
              <%= render partial: "common/thumb", locals: { article: article, category: false } %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <footer>
    <% @networks.each do |key, value| %>
        <%= link_to "#{key}", value %>
      <% end %>
  </footer>
</div>