<section class="top-banner">
  <h1>
    <%= link_to "The Tech Chronicle", "/" %>
  </h1>
  <%= render partial: "layouts/category-tab", locals: { cats: Category.all } %>
  <%= form_tag("#{request.original_url}", method: :get) do %>
    <%= label_tag(:q, "Search:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Search") %>
  <% end %>
</section>
