<!DOCTYPE html>
<html>
  <head>
    <title>GameBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "main", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "containers" %>
    <%= stylesheet_link_tag "article" %>
    <%= stylesheet_link_tag "ff-article" %>
    <%= stylesheet_link_tag "thumb" %>
    <%= stylesheet_link_tag "full" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag asset_path('game-controller.png') %>
  </head>

  <body>
    <main class="container mx-auto mt-28 px-5 flex">
      <section class="top-banner">
        <h1></h1>
        <%= link_to "The Tech Chronicle", "/" %>
        <%= render partial: "layouts/category-tab", locals: { @categories = Category.all } %>
      </section>
      <%= yield %>
      <footer>
        
      </footer>
    </main>
  </body>
</html>
